* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

.main {
  color: #3d1365;
  background-color: #3d1365;
  padding-top: 100px;
  padding-bottom: 50px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("./images/bat.svg"), url("./images/pumpkin.svg");
  background-repeat: repeat;
  background-size: 300px 150px;
  background-position: 0 0, 150px 0;
}

::placeholder {
  font-size: 16px;
  font-family: "CF Halloween";
}

.title {
  font-family: "CF Halloween";
  color: white;
  font-size: 60px;
  max-width: 660px;
  width: 90%;
  padding-bottom: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.form {
  display: flex;
  background-color: orange;
  border-radius: 8px;
  max-width: 660px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.form__text {
  text-transform: uppercase;
  font-family: "CF Halloween";
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}

.form__container {
  padding: 25px;
}

.form__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form__title {
  font-family: "Midnight Minutes";
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: -5px;
}

.form__input {
  width: 100%;
  padding-left: 10px;
  margin-bottom: 20px;
  height: 40px;
  border: 1px solid rgba(209, 209, 209, 1);
  border-radius: 3px;
  outline: none;
}

.form__input-radio {
  font-size: 16px;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(209, 209, 209, 1);
}
.form__input-text-area {
  font-size: 16px;
  width: 100%;
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  height: 40px;
  border: 1px solid rgba(209, 209, 209, 1);
  border-radius: 3px;
  outline: none;
}

.form__button {
  background-color: #3d1365;
  font-family: "CF Halloween";
  color: orange;
  font-size: 15px;
  width: 50%;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  outline: none;
  border: 1px solid rgb(107, 25, 190);
}
